<header class="intro-header" style="background-image: url('../../../assets/img/home-bg2.jpg'); margin-top: -60px">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>Test temperamentu</h1>
                    <hr class="small">
                    <span class="subheading">System eksperowy badający temperament i sugerujący ścieżkę zawodową</span>
                    <p></p>
                    <div><button class="btn btn-default button1" *ngIf="showQuestions==false" (click)="start()">Rozpocznij <i class="fa fa-arrow-right" aria-hidden="true"></i></button></div>
                    <div><button class="btn btn-default button2" *ngIf="showQuestions==true" disabled>Rozpocznij <i class="fa fa-arrow-down" aria-hidden="true"></i></button></div>
                </div>
            </div>
        </div>
    </div>
</header>


<div *ngIf="isLoaded == false" style="text-align: center; padding-top: 5em">
    <h1><i class="fa fa-spinner fa-spin"></i></h1>
</div>
<p></p>
<hr>
<p style="color:rgb(42, 42, 133); text-align:center">{{info}}</p>
<div class="list-group container" style="padding-left: 0.8em;" *ngIf="isLoaded ==true && showQuestions==true">
    <div class="panel panel-default" *ngIf="actualQuestion()!=null">
        <div class="panel-heading">
            <h4 class="panel-title">{{actualQuestion().question}}</h4>
        </div>
        <div class="panel-body">
            <div *ngFor="let answer of actualQuestion().answers;">
                <div class="checkbox">
                    <label>
                <input type="checkbox" [checked]="answer.checked" (change)="actualQuestion().check(answer); nextQuestion()">
                <h3 class="answer">{{answer.answer}}</h3>
            </label>
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-primary" *ngIf="id>0" (click)="backQuestion()"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
    <button class="btn btn-primary" *ngIf="id<=0" (click)="backQuestion()" disabled><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
    <button class="btn btn-primary" *ngIf="id<questionsArray.Questions.length-1" (click)="nextQuestion()"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
    <button class="btn btn-primary" *ngIf="id>=questionsArray.Questions.length-1" (click)="nextQuestion()" disabled><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
    <button class="btn btn-primary pull-right" *ngIf="check()" (click)="displayResult()">Sprawdź wyniki<i class="fa fa-arrow-down" aria-hidden="true"></i></button>
    <button class="btn btn-primary pull-right" *ngIf="!check()" (click)="displayResult()" disabled>Sprawdź wyniki<i class="fa fa-arrow-down" aria-hidden="true"></i></button>
</div>

<div [innerHTML]="conclusion" class="list-group container" style="padding-left: 0.8em;" *ngIf="isLoaded==true && showQuestions==false && addedAllAnswers==true">
</div>

<hr>